@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #161512 linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px) no-repeat;
  color: white;
}

html, body, #__next {
  height: 100%;
}
